 body {
	/*position: absolute;*/
	margin: 12px;
 }
	
 .item {
 	margin: 12px;
 	padding: 6px;
 }

 .btn:hover {
 	color: green;
 }
 .menu {
 	background-color: #2a27bd;
 	color: white;
 	display: flex;
 	list-style: none;	
 	padding: 0;
 }
 .menu li {
 	padding: 8px 16px;
 }

 .menu li:hover {
 	background-color: #2a27bd;
 	color: white;
 }

 .submenu {
 	color: black;
 	list-style: none;
 	padding: 0;
 	position: absolute;
 	display: none;
 	background-color: #a4a3d6;
 }

 .has-submenu:hover .submenu {
 	display: block;
 }

 button:hover {
 	transform: scale(1.2);	
 	margin: 4px;
 }